<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="veh" default="nano" doc="Name of vehicle"/>
    <arg name="config" default="baseline"/>
    <arg name="joy_node_param_filename" default="joy_node_param.yaml"/>
    <arg name="joy_mapper_param_filename" default="joy_mapper_param.yaml"/>
    <arg name="pulse_generator_param_filename" default="pulse_generator_param.yaml"/>

    <group ns="$(arg veh)" />
        <!-- joy -->
        <node name="joy_node" pkg="joy" type="joy_node"  output="screen">
            <rosparam command="load" file="$(find agv)/config/$(arg joy_node_param_filename).yaml"/>
        </node>

        <!-- joy_mapper -->
        <node name="agv_joy_mapper_node" pkg="agv_joy_mapper" type="agv_joy_mapper_node.py" output="screen" clear_params="true" required="true">
            <rosparam command="load" file="$(find agv)/config/$(arg joy_mapper_param_filename)"/>
        </node>

        <!--pulse_generator -->
        <remap from="pulse_generator_node/car_cmd" to="agv_joy_mapper_node/car_cmd"/>
        <node name="pulse_generator_node" pkg="$(arg pkg_name)" type="$pulse_generator_node.py" output="screen" clear_params="true" required="true">
            <rosparam command="load" file="$(find agv)/config/$(arg pulse_generator_param_filename)"/>
        </node>
    </group>
</launch>
