<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="veh" doc="Name of vehicle"/>
	<arg name="config" default="baseline"/>
	<arg name="joy_mapper_param_file_name" default="default"/>
    <arg name="joy_param_file_name" default="default"/>

	<!-- joy -->
	<node ns="$(arg veh)" pkg="joy" type="joy_node" name="joy" output="screen">
		<rosparam command="load" file="$(find duckietown)/config/$(arg config)/joy/joy_node/$(arg joy_param_file_name).yaml"/>
	</node>

    <!-- joy_mapper -->
    <include file="$(find agv_joy_mapper)/launch/agv_joy_mapper.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg joy_mapper_param_file_name)"/>
    </include>	

	<!-- Add node here-->
	<node ns="$(arg veh)" pkg="test" type="test.py" name="test" output="screen">
	</node>

    <!--pulse_generator -->
	<!--<remap from="pulse_generator_node/car_cmd" to="agv_joy_mapper_node/car_cmd"/>-->
	<remap from="pulse_generator_node/car_cmd" to="test/car_cmd"/>
	<include file="$(find agv_wheel_driver)/launch/agv_wheel_driver.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="config" value="$(arg config)"/>
	</include>	
</launch>
