<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="mac" default="98:D3:31:F4:0D:6A"/>
    <arg name="use_headset" default="false" doc="Bluetooth headset"/>

    <arg name="pkg_name" value=""/>
    <arg name="node_name" value="haptics_send_belt"/>

    <node name="haptics_whistband_node" pkg="haptics_send" type="haptics_send.py" output="screen" clear_params="true" >
        <param name="bt" value="true"/>
        <param name="mac" value="$(arg mac)"/>
    </node>

    <group if="$(arg use_headset)">
        <node name="bluetooth_headset_node" pkg="sound_test" type="sound_play.py" output="screen" clear_params="true" />
    </group>
</launch>