<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="use_gui" default="false" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find atbot_description)/urdf/atbot.xacro'" />
  <param name="use_gui" value="$(arg use_gui)" />

  <remap from="/robot_description_semantic" to="/robot_description" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find atbot_description)/config/rviz/urdf.rviz" required="false" />
</launch>